body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}
h3{
    font-size: 40px;
    text-align: center ;
}
h5{
    text-align: center;
}
p{
    color: dimgray;
}
 

#name-highlight{
    color: deeppink;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    padding-left: 2%;
    
    
    
}
.half-width img{
    width: 100%;
    
 
    
}
.header-background{
    background-image: url("image/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
}
section{
    height: 600px;
    padding-bottom: 150px;
  
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(255, 122, 188), deeppink);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    

    }
    
    .biography-area{
        background-image: url("image/biography-bg.png");
        background-repeat: no-repeat;
        background-size: 125%;
        
    }
    
    .one-thirdwidth{
        width: 33.3%;
        float: left;
        
    }
    .one-thirdwidth img{
        width: 70%;
        margin-left: 70px;
        
        
    }

    .work-area{
        background-image: url("image/latest-work-bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: left;
    }
    .client-text{
        text-align: center;
        
    }
.bottom-section{
    text-align: center;
    background-image: linear-gradient(45deg, rgb(240, 182, 211), rgb(255, 1, 137));
    height: 150px;
    color: white;
    padding: 10px 20px;

    border: 5px solid deeppink;
    border-radius: 20px;
    margin: 200px;
    


}
footer p{
    text-align: center;
    font-size: 15px;
}
.footer-image{background-image: url("image/footer-bg.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.client-area{
    background-image: url("image/footer-bg.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;
}
